
/**
    This is the general section to style all class across the views. Please note changes will apply to all views.
 */

.button{
    -fx-background-color: #B22222;
    -fx-text-fill: #C0C0C0;
    /*-fx-background-radius: 5;*/

}
.button:hover{
    -fx-background-color: #8b0000;
    /*-fx-background-radius: 5;*/
}

.label{
    -fx-font-size: 20px;
}

.header{
    -fx-font-size: 30px;
}

.InnerBox{
    -fx-background-color: #D9D9D9;
    /*-fx-background-radius: 25;
    -fx-border-radius: 25;
    */
    -fx-border-color: #B93131;
    -fx-border-width: 1.5;
}

.listView {
    -fx-background-color: #D9D9D9;
}


/**
    In this section you can change the style the LoginView.
 */
#nameLogin{
    -fx-text-fill: #b22222;
}
#passwordLogin{
    -fx-text-fill: #b22222;
}

/**
    In this section you can change the style the RegistrationView.
 */


/**
    In this section you can change the style the AccountView.
 */
#email{
    -fx-text-fill: #b22222;
}
#password{
    -fx-text-fill: #b22222;
}

#Headline{
    -fx-stroke-type: OUTSIDE;
    -fx-stroke-width: 0.0;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#Background{
    -fx-background-image: url("/images/BackgroundWithLogo.png");
    -fx-background-size: 1600 900;
}
#BackgroundWithOutLogo{
    -fx-background-image: url("/images/BackgroundWithoutLogo.png");
    -fx-background-size: 1600 900;
}

/**
    In this section you can change the style the OptionView.
 */


/**
    In this section you can change the style the GerneralErrorView.
 */


/**
    In this section you can change the style the CreditsView.
 */


/**
    In this section you can change the style the RulebookView.
 */


/**
    In this section you can change the style the JoinOrCreateView.
 */


/**
    In this section you can change the style the JoinOrCreatePasswordView.
 */


/**
    In this section you can change the style the CreateLobbyView.
 */


/**
    In this section you can change the style the LobbyView.
 */

.InnerBoxBackground{
    -fx-background-color: black;
}

/**
    In this section you can change the style the InGameViewView.
 */


/**
    In this section you can change the style the InGameMultiClientView.
 */

