.button{
    -fx-background-color: #b22222;
    -fx-text-fill: #C0C0C0;
    -fx-background-position: center;
    -fx-alignment: center;
    -fx-background-size: 90 0 0 90;
}
.button:hover{
    -fx-background-color: #8b0000;
}

